---
import Shell from '../layouts/shell.astro';
import heroImagePortraitLarge from '../images/Barbora_Psenicova_portrait_large.webp';
import heroImagePortraitMedium from '../images/Barbora_Psenicova_portrait_medium.webp';
import heroImagePortraitSmall from '../images/Barbora_Psenicova_portrait_small.webp';
import heroImageBodyLarge from '../images/Barbora_Psenicova_stand_large.webp';
import heroImageBodyMedium from '../images/Barbora_Psenicova_stand_medium.webp';
import heroImageBodySmall from '../images/Barbora_Psenicova_stand_small.webp';
import ContactButton from '../components/ContactButton.astro';
import IntroSection from '../components/IntroSection.astro';
import ServiceCards from '../components/ServiceCards.astro';
import CodexText from '../components/CodexText.astro';
import CarouselSection from '../components/CarouselSection.astro';

const title = 'Barbora Pšenicová | Psychoterapie';
const description = 'Hledáte ve své situaci oporu, pochopení a respekt? Velmi ráda vám je nabídnu.';
---

<Shell title={title} description={description}>
  <section class="hero flex w-full max-w-7xl flex-col items-center justify-center md:mx-auto">
    <div
      class="!md:pb-0 relative flex w-full flex-col items-center justify-center overflow-hidden pb-16 md:flex-row-reverse md:items-start md:gap-8 md:overflow-visible md:p-8 md:pb-0 xl:gap-12"
    >
      <div
        class="breathing-glow top-6/10 left-5/10 h-[500px] w-[500px] md:top-6/10 md:left-4/10 md:h-[400px] md:w-[600px] lg:top-6/10 lg:left-6/10 lg:h-[600px] lg:w-[900px]"
        aria-hidden="true"
      >
      </div>
      <article
        class="z-10 flex flex-col justify-center font-cinzel text-darkest-blue sm:gap-2 md:mt-24 md:gap-4 lg:mt-48 lg:gap-8"
      >
        <h1 class="text-3xl sm:text-5xl lg:text-6xl xl:text-8xl">Barbora Pšenicová</h1>
        <div class="text-lg sm:text-2xl lg:text-3xl">Psychoterapeutka</div>

        <h2 class="hidden text-2xl font-normal text-darkest-blue opacity-70 md:block">
          Hledáte ve své situaci oporu, pochopení a respekt? Velmi ráda vám je nabídnu.
        </h2>

        <ContactButton label="Chci konzultaci" to="/contact" classList="hidden md:block" />
      </article>
      <img
        src={heroImagePortraitLarge.src}
        srcset={`${heroImagePortraitSmall.src} 455w, ${heroImagePortraitMedium.src} 911w, ${heroImagePortraitLarge.src} 1366w`}
        sizes="(max-width: 455px) 455px, (max-width: 911px) 911px, (max-width: 1366px) 1366px"
        alt="Barbora Pšenicová"
        class="z-10 block sm:w-8/12 md:hidden"
      />

      <h2
        class="z-10 flex p-4 font-cinzel text-2xl font-normal text-darkest-blue opacity-70 md:hidden"
      >
        Hledáte ve své situaci oporu, pochopení a respekt? Velmi ráda vám je nabídnu.
      </h2>

      <ContactButton label="Chci konzultaci" to="/contact" classList="flex md:hidden z-10" />

      <img
        src={heroImageBodyLarge.src}
        srcset={`${heroImageBodySmall.src} 455w, ${heroImageBodyMedium.src} 911w, ${heroImageBodyLarge.src} 1366w`}
        sizes="(max-width: 455px) 455px, (max-width: 911px) 911px, (max-width: 1366px) 1366px"
        alt="Barbora Pšenicová"
        class="z-10 hidden w-6/12 md:block"
      />
    </div>
  </section>

  <section class="flex w-full justify-center bg-darkest-blue">
    <IntroSection />
  </section>

  <section class="flex w-full justify-center bg-background-blue p-8 md:p-12 lg:py-20">
    <ServiceCards />
  </section>

  <section class="flex w-full justify-center bg-darkest-blue">
    <CodexText />
  </section>

  <section class="flex w-full justify-center bg-darkest-blue">
    <CarouselSection />
  </section>
</Shell>

<style>
  .breathing-glow {
    position: fixed;
    background: radial-gradient(
      circle at 30% 30%,
      rgba(180, 220, 255, 0.2),
      rgba(140, 194, 242, 0.1)
    );
    border-radius: 60% 40% 70% 30% / 40% 60% 30% 70%;
    transform: translate(-50%, -50%);
    animation: morph 10s ease-in-out infinite 1.5s;
    z-index: 0;
    pointer-events: none;
  }

  @keyframes morph {
    0% {
      border-radius: 60% 40% 70% 30% / 40% 60% 30% 70%;
    }
    50% {
      border-radius: 40% 60% 30% 70% / 60% 40% 70% 30%;
    }
    100% {
      border-radius: 60% 40% 70% 30% / 40% 60% 30% 70%;
    }
  }
</style>
