---
import '../styles/global.css';
import '../styles/fonts.css';
import MainNavigation from '../components/MainNavigation.astro';
import capLogo from '../images/cap-logo-barevne.webp';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const currentYear = new Date().getFullYear();
---

<html lang="cs">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/therapy_1_50.webp" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		
		<!-- Primary Meta Tags -->
		<title>{title}</title>
		<meta name="title" content={title}>
		<meta name="description" content={description}>
	
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://psenicova.cz/">
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
	
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://psenicova.cz/">
		<meta property="twitter:title" content={title}>
		<meta property="twitter:description" content={description}>
	</head>
	<body>
        <header>
            <MainNavigation />
        </header>
		<main class="flex flex-col items-center justify-center w-full min-h-[80dvh]">
			<slot />
		</main>
        <footer class="w-full flex flex-col md:flex-row justify-between items-start gap-4 w-full bg-darkest-blue text-white px-6 py-4 font-cinzel text-sm">
            <nav class="flex flex-col gap-2">
                <a class="nav-link nav-item" href="/contact">
                  Kontakt
                </a>
                <a class="nav-link nav-item" href="/media">
                  Média
                </a>
                <a class="nav-link nav-item" href="/about">
                  O mně
                </a>
              </nav>
        
            <div class="flex flex-col gap-2">
              <span>Jsem řádnou členkou</span>
              <img src={capLogo.src} alt="Česká asociace pro psychoterapy" width="200">
            </div>

              <div class="flex flex-col gap-2">
                <address>
                  Václavské náměstí 837/11, Praha 1, 110 00 (mezi Kobe a McDonalds)
                </address>
                <span>IČO: 06753493</span>
                <a href="/">www.psenicova.cz</a>
                <span>&copy; Copyright {currentYear}</span>
              </div>
        </footer>
	</body>
</html>